#snow {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  z-index: -1;
  overflow: hidden;
  background-image: url("https://i.ibb.co/2M0s19g/snowflakes.png");
  background-repeat: repeat;
  animation: snowFall 20s linear infinite;
}

@keyframes snowFall {
  0% { background-position: 0 -1000px; }
  100% { background-position: 0 1000px; }
}
